<template>
  <v-container grid-list-md text-xs-center fluid>
    <v-layout row wrap>
      <v-flex xs12>
        <v-dialog v-model="dialog" persistent max-width="600px">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark v-on="on">Adicionar</v-btn>
          </template>
          <v-card >
            <v-card-title >
              <span color="primary" class="headline">Adicionar cliente</span>
            </v-card-title>
            <v-card-text>
              <v-row dense>
                <v-col cols="12" sm="12" md="12">
                  <v-text-field v-model="cliente.nome" label="Nome" required></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                  <v-text-field v-model="cliente.email" label="Email"></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    v-model="cliente.telefonePrincipal"
                    label="Telefone principal"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-menu
                    v-model="menu2"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="date"
                        label="Data nascimento"
                        prepend-icon="event"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="cliente.dataNascimento" @input="menu2 = false"></v-date-picker>
                  </v-menu>
                </v-col>

                <v-col cols="12" sm="12" md="12">
                  <v-text-field label="Endereço" required></v-text-field>
                </v-col>
              </v-row>
            </v-card-text>
            <v-card-actions>
              <div class="flex-grow-1"></div>

              <v-btn color="primary" @click="dialog = false">Adicionar</v-btn>
              <v-btn color="primary" text @click="dialog = false">Cancelar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-flex>

      <v-flex xs12>
        <v-card>
          <v-card-title>
            <div class="flex-grow-1"></div>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table :headers="colunasTabelaCliente" :items="clientes" :search="search"></v-data-table>
        </v-card>
      </v-flex>

      <!-- aqui esta o formulario -->
      <v-flex xs12>
        <!-- 
        <v-form ref="form" v-model="valid" lazy-validation>

          <v-layout row wrap>

            <v-flex xs3>
              <v-text-field 
               v-model="name" 
               :rules="nameRules"
               label="Nome" 
               required>
               </v-text-field>
            </v-flex>

          </v-layout>

          <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>

          <v-select
            v-model="select"
            :items="items"
            :rules="[v => !!v || 'Item is required']"
            label="Item"
            required
          ></v-select>

          <v-checkbox
            v-model="checkbox"
            :rules="[v => !!v || 'You must agree to continue!']"
            label="Do you agree?"
            required
          ></v-checkbox>

          <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">Validate</v-btn>

          <v-btn color="error" class="mr-4" @click="reset">Reset Form</v-btn>

          <v-btn color="warning" @click="resetValidation">Reset Validation</v-btn>
        </v-form>-->
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  data: () => ({
    dialog: false,
    valid: true,
    name: "",
    nameRules: [v => !!v || "Informe o nome de cliente"],
    email: "",
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+\..+/.test(v) || "E-mail must be valid"
    ],
    select: null,
    items: ["Item 1", "Item 2", "Item 3", "Item 4"],
    checkbox: false,
    search: "",
    cliente: {
      id: 0,
      nome: "",
      email: "",
      telefonePrincipal: "",
      dataNascimento: ""
    },
    colunasTabelaCliente: [
      { text: "Nome", align: "left", value: "nome" },
      { text: "Email", value: "email", align: "left" },
      {
        text: "Telefone principal",
        value: "telefonePrincipal",
        align: "center"
      },
      { text: "Data nascimento", value: "dataNascimento", align: "center" }
    ],
    clientes: [
      {
        id: 1,
        nome: "Diogo",
        email: "diogo@gmail.com",
        telefonePrincipal: "02199999999",
        dataNascimento: "05/05/1992"
      },
      {
        id: 1,
        nome: "Luciene",
        email: "luciene@gmail.com",
        telefonePrincipal: "0219998888",
        dataNascimento: "25/09/1990"
      }
    ]
  }),

  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.snackbar = true;
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    }
  }
};
</script>
<style lang="scss" scoped>
// div.v-dialog .v-card__title {
//   background-color: gray;
//   color: white;
//   font-size: 18px;
//   font-weight: 300;
// }
</style>