<template>
  <v-container fluid>
    <v-row :justify="center">
      <v-flex xs12 sm4 md4 lg4 mb-2>
        <v-card class="mx-auto" max-width="300">
          <v-card-text>
            <div>Word of the Day</div>
            <p class="display-1 text--primary">be•nev•o•lent</p>
            <p>adjective</p>
            <div class="text--primary">
              well meaning and kindly.
              <br />"a benevolent smile"
            </div>
          </v-card-text>
          <v-card-actions>
            <v-btn text color="primary accent-4">Learn More</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>

      <v-flex xs12 sm4 md4 lg4  mb-2>
        <v-card class="mx-auto" max-width="300">
          <v-card-text>
            <div>Word of the Day</div>
            <p class="display-1 text--primary">be•nev•o•lent</p>
            <p>adjective</p>
            <div class="text--primary">
              well meaning and kindly.
              <br />"a benevolent smile"
            </div>
          </v-card-text>
          <v-card-actions>
            <v-btn text color="primary accent-4">Learn More</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>

        <v-flex xs12 sm4 md4 lg4  mb-2>
        <v-card class="mx-auto" max-width="300">
          <v-card-text>
            <div>Word of the Day</div>
            <p class="display-1 text--primary">be•nev•o•lent</p>
            <p>adjective</p>
            <div class="text--primary">
              well meaning and kindly.
              <br />"a benevolent smile"
            </div>
          </v-card-text>
          <v-card-actions>
            <v-btn text color="primary accent-4">Learn More</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-row>
  </v-container>
</template>
<script>
export default {
  data: () => ({
    mensagem: "Estou no compomente de DashBoard!!!!"
  })
};
</script>
<style lang="scss" scoped>
</style>