<template>
  <div>
    <v-navigation-drawer
      v-model="drawer"
        app
      clipped
     >
      <v-list-item>
        <v-list-item-avatar>
          <v-img src="https://randomuser.me/api/portraits/men/85.jpg"></v-img>
        </v-list-item-avatar>

        <v-list-item-title>Dr. Diogo Souza</v-list-item-title>

      
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-item :to="item.path" v-for="item in itensMenu" :key="item.title" link>
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
        <v-app-bar app clipped-left>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>{{ nomeSistema }}</v-toolbar-title>
    </v-app-bar>

    
  </div>
</template>
<script>

import { routes } from '@/router/router'

export default {
  props:{
    nomeSistema: { 
      type: String, 
      default: "Meu-Sistema"
    }
  },

  computed:{
    itensMenu(){
      return routes;
    }
  },

  data: () => ({
    drawer: null
  })
};
</script>
<style lang="scss" scoped>
</style>