<template>
  <v-container fluid>
    <v-row align-content="center" justify="center">
      <v-flex xs12 sm4 md4 lg4 ma-5>
        <v-card max-width="100%" class="mx-auto">

          <v-toolbar color="primary accent-4" dark>
            <v-toolbar-title>Pacotes</v-toolbar-title>
            <div class="flex-grow-1"></div>
          </v-toolbar>

          <v-list subheader three-line>
            <v-subheader>Banho e tosa completos</v-subheader>

            <v-list-item v-for="item in items" :key="item.title" @click>
              <v-list-item-avatar>
                <v-img :src="item.avatar"></v-img>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title v-text="item.title "></v-list-item-title>
                 <v-list-item-subtitle>Set the content filtering level to restrict appts that can be downloaded</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <v-divider></v-divider>

          <v-list subheader>
            <v-subheader>Tratamentos</v-subheader>

            <v-list-item v-for="item in items2" :key="item.title" @click>
              <v-list-item-avatar>
                <v-img :src="item.avatar"></v-img>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title v-text="item.title"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-flex>
    </v-row>
  </v-container>
</template>
<script>
export default {
  data: () => ({
    mensagem: "Estou no compomente de Pacotes!!!!",
     items: [
        { title: 'Banho', avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg' },
        { title: 'Tosa', avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg' },

      ],
      items2: [
        { title: 'Queda de pelos', avatar: 'https://cdn.vuetifyjs.com/images/lists/5.jpg' },
      ]
  })
};
</script>
<style lang="scss" scoped>

// ::v-depp ativa prfundidade de css no vue.

::v-deep .v-toolbar__content{
    text-align: center  !important;
    align-items: center !important;
}
</style>