<template>
    <div>
        <h1> {{ mensagem}} </h1>
    </div>
</template>
<script>
export default {
    data:() => ({
        mensagem : "Estou no compomente de Racas!!!!"
    }),
}
</script>
<style lang="scss" scoped>
    
</style>