<template>
  <v-app id="app">
    <menu-sistema :nomeSistema="nomeSistema"></menu-sistema>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import Menu from "@/components/Menu";

export default {
  name: "App",
  components: {
    "menu-sistema": Menu
  },
  data: () => ({
    nomeSistema: "PetShop"
  })
};
</script>

<style lang="scss" >
</style>
